@import "tailwindcss";

@media (width >= 48rem) {
    .starred-project:nth-child(even) .info-container {
        flex-direction: row-reverse;
    }
    .starred-project:nth-child(odd) .info-container {
        flex-direction: row;
    }
    .starred-project:nth-child(even) .md-title-container {
        flex-direction: row-reverse;
    }
    .starred-project:nth-child(even) p {
        text-align: end !important;
    }

    .starred-project:nth-child(odd) .project-image-container {
        @apply pr-3 pb-3;
    }

    .starred-project:nth-child(even) .project-image-container {
        @apply pl-3 pb-3;
    }

    .starred-project:nth-child(odd) .bg-custom-dotted {
        @apply w-full h-full aspect-video absolute -bottom-3 -right-3;
    }

    .starred-project:nth-child(even) .bg-custom-dotted {
        @apply w-full h-full aspect-video absolute -bottom-3 -left-3;
    }
}
