@import "tailwindcss";

.contact-button {
    @apply aspect-square flex items-center justify-center text-white border-neutral-600 border-4 lg:bg-transparent lg:text-neutral-600;
    transition: all 0.3s ease-out;
}

.contact-button:hover {
    @apply border-0;
}

.contact-button > * {
    @apply -rotate-45;
    font-size: max(3rem, 7.5vw);
    color: inherit;
}
