@import "tailwindcss";

@theme {
    --color-custom-red: #be3c45;
}

@font-face {
    font-family: Poppins;
    src: url("@/assets/fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: Poppins;
    src: url("@/assets/fonts/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: MonteCarlo;
    src: url("@/assets/fonts/MonteCarlo-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: Karla;
    src: url("@/assets/fonts/Karla-Light.ttf") format("truetype");
    font-weight: 300;
}

:root {
    line-height: 1.5;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.app-container {
    @apply px-8 w-screen md:px-14 xl:px-28 xl:max-w-[1450px];
}

h1 {
    font-family: Poppins;
    font-weight: 600;
}

h2 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 2.9em;
}

h3 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 1.8em;
    @apply mb-6;
}

h4 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 1.5em;
}

p,
span {
    font-family: Karla;
    font-weight: 300;
}

.bg-custom-lined {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23BE3C45' stroke-width='9.8' stroke-opacity='.8'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

.bg-custom-dotted {
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23BE3C45' fill-opacity='0.8' %3E%3Ccircle cx='3' cy='3' r='1.5'/%3E%3C/g%3E%3C/svg%3E");
    background-position: top right;
}

::-webkit-scrollbar {
    display: none;
}

.pretty-text {
    font-family: MonteCarlo;
    font-weight: normal;
}

nav {
    transition: all 0.5s linear;
}

nav .nav-dot {
    @apply h-3.5 w-3.5 bg-neutral-400/20 rounded-full;
    transition: all 0.3s linear;
}

nav.is-pinned {
    @apply shadow-md;
}

nav.is-pinned .nav-dot {
    @apply rounded-[3px] w-full h-2 -mt-1;
}
